:root {
  --medium: #414141;
  --dark: black;
  --light: #fff;
}

* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: var(--light);
}

body {
  margin: auto 0;
  background-color: var(--dark);
}

/* HEADER */
h1 {
  color: var(--light);
  font-size: 6rem;
}

.headCol {
  margin-top: 2rem;
}

.headCol img {
  height: 10rem;
  margin-top: 1rem;
}

/* NAVBAR */
nav {
  margin-bottom: 1rem;
}

.nav {
  background-color: var(--medium);
  margin: 0;
  border: 1.2rem solid black;
}

h4 {
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

h4 a {
  color: var(--light);
  letter-spacing: 0.3em;
  margin-left: 1rem;
}

h4 a:hover {
  color:rgb(187, 187, 187);
  text-decoration: none;
  letter-spacing: 0.4em;
}

/* SINGLE */

.cover img{
  border-bottom: 1.2rem;
}

audio {
  margin-bottom: 1.2rem;
}

/* ABOUT */
.about {
  padding: 2rem;
  line-height: 2.5rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
}

footer p {
  color: var(--medium);
}


/* ***** schedule ***** */

iframe {
  width: 90%;
  height: 35rem;
  border: 0;
}

h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

h5 a{
  color: var(--light);
}

h5 a:hover {
  color: var(--light);
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* MERCH */

/* media queries */

@media only screen and (max-width: 990px) {
    .about {
      line-height: 2.2rem;
    }
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 4rem;
  }

  .about {
    line-height: 2.2rem;
  }

  footer {
    margin-top: 0;
  }

  iframe {
    width: 100%;
    height: 30rem;
  }

}
